<div>
    <div class="grid grid-cols-3 -m-6 justify-items-end content-center h-16 bg-[#E77512] ">
        <div></div>
        <h1 mat-dialog-title class="text-2xl text-white font-bold mt-3">Generated Entity Info</h1>
        <button class="text-secondary bg-[#E77512] mt-3 mx-3" mat-dialog-close mat-icon-button type="button">
<mat-icon  svgIcon="mat:close"></mat-icon>
</button>
    </div>

    <mat-divider class="mt-7"></mat-divider>
    <ng-container>

        <mat-dialog-content class="">
            <div class="flex flex-col">
                <div class="flex gap-4 items-center my-2">
                    <h1 class="text-sm font-semibold">Entity:</h1>
                    <h1 class="text-base font-semibold text-orange-500"> {{data.entityInfo.entityInfo.entityInfo[0].entityText}}</h1>
                </div>
                <div class="flex gap-4 items-center my-2">
                    <h1 class="text-sm font-semibold">EntityId:</h1>
                    <h1 class="text-base font-semibold text-orange-500">{{data.entityInfo.entityId}}</h1>
                </div>
                <div class="mt-4">
                    <mat-form-field style="font-size: 14px;" class="w-96">
                        <mat-label> Type</mat-label>
                        <mat-select [value]="data.entityInfo.entityType">
                            <mat-option value="class">Class</mat-option>
                            <mat-option value="action">Action</mat-option>
                            <mat-option value="condation">condition</mat-option>
                            <mat-option value="individual">Individual</mat-option>
                            <mat-option value="prop">Property</mat-option>
                            <mat-option value="ques_tool">Ques Tool</mat-option>
                            <mat-option value="adverb">Adverb</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="flex gap-6 items-center my-2">
                    <div class="flex gap-3 items-center my-2">
                        <h1 class="text-sm font-semibold">Generation Reason:</h1>
                        <h1 class="text-base font-semibold text-orange-500">{{data.entityInfo.entityInfo.GenReson}}</h1>
                    </div>
                    <div class="flex gap-3 items-center my-2">
                        <h1 class="text-sm font-semibold">Semantic Type:</h1>
                        <h1 class="text-base font-semibold text-orange-500">{{data.entityInfo.entityInfo.SemanticReson}}</h1>
                    </div>
                </div>
                <div class="flex gap-4 items-center my-2">
                    <h1 class="text-sm font-semibold">Parent Entity:</h1>
                    <h1 class="text-base font-semibold text-orange-500">{{data.parentEnityText}}</h1>
                </div>
                <div class="flex gap-4 items-center my-2">
                    <h1 class="text-sm font-semibold">Parent EntityId:</h1>
                    <h1 class="text-base font-semibold text-orange-500">{{data.entityInfo.entityInfo.parentId}}</h1>
                </div>
                <div class="flex gap-4 items-center my-2">
                    <h1 class="text-sm font-semibold">Semantic Src SenseId:</h1>
                    <h1 class="text-base font-semibold text-orange-500">{{data.entityInfo.entityInfo.SemanticSrcFrameId}}</h1>
                </div>
            </div>
        </mat-dialog-content>

        <mat-divider></mat-divider>

        <mat-dialog-actions align="end">
            <div class="flex flex-row items-center gap-2 mb-3">
                <button mat-raised-button class=" bg-slate-900 text-slate-50 hover:text-slate-900 hover:bg-orange-500" mat-dialog-close type="button">Close</button>
            </div>
        </mat-dialog-actions>
    </ng-container>
</div>