<div class="flex gap-3 w-full" *ngIf="sense">
    <div class="border-[1.5px] h-[95px] flex flex-col  w-[45%] py-2 overflow-auto">
        <div class="mx-4 px-2 py-2" *ngFor="let verb of verbs; let i = index" (click)="SelectCurrentSenceIndex(i)" [ngClass]="{'bg-blue-600':currentSenceIndex == i,'text-white':currentSenceIndex == i}">
            <p class="text-base">{{verb.description}}</p>
        </div>
    </div>
    <div class=" h-[95px] w-[45%] ">
        <div class="flex">
            <p class="text-lg font-medium ">Verb Base &nbsp;:&nbsp; </p>
            <p *ngFor="let synonym of sense?.synonyms" class="text-orange-600 font-medium text-base"> {{synonym}}, &nbsp;</p>
        </div>
        <mat-form-field appearance="legacy" class="w-full -mt-3">
            <input matInput [value]="sense?.description" class="">
        </mat-form-field>

    </div>
</div>

<mat-divider class="mt-2"></mat-divider>
<!-- <div class="h-10 bg-[#F7F7F7] w-full flex items-center justify-center gap-3" *ngIf="sense">
    <mat-checkbox [(ngModel)]="sense?.frames[this.frameIndex].type" color="primary" class="example-margin text-base font-medium text-[#FF963D]">Type</mat-checkbox>
    <mat-checkbox [(ngModel)]="sense?.frames[this.frameIndex].pastEvent" color="primary" class="example-margin text-base font-medium text-[#FF963D]">Past Event</mat-checkbox>
    <mat-checkbox [(ngModel)]="sense?.frames[this.frameIndex].negative" color="primary" class="example-margin text-base font-medium text-[#FF963D]">Negative</mat-checkbox>
    <mat-checkbox [(ngModel)]="sense?.frames[this.frameIndex].Informative" color="primary" class="example-margin text-base font-medium text-[#FF963D]">Informative</mat-checkbox>
    <mat-checkbox [(ngModel)]="sense?.frames[this.frameIndex].ignoreTellAbout" color="primary" class="example-margin text-base font-medium text-[#FF963D]">Ignore Tell About</mat-checkbox>
    <mat-checkbox [(ngModel)]="sense?.frames[this.frameIndex].ignoreExplain" color="primary" class="example-margin text-base font-medium text-[#FF963D]">Ignore Frame Explain</mat-checkbox>
</div> -->
<mat-divider></mat-divider>
<div class="">
    <table class="w-full  mt-3" *ngIf="sense">
        <thead class="h-10 bg-[#F7F7F7]  text-base font-normal border-b-2 sticky top-0 z-10">
            <tr class="px-4">
                <th class="w-[3%]">
                    <mat-icon class="icon-base" svgIcon="mat:delete"></mat-icon>
                </th>
                <th class="w-[12%] font-normal text-lg">Adverb</th>
                <th class="w-[20%] font-normal text-lg">Complement</th>
                <th class="w-[22%] font-normal text-lg">Object</th>
                <th class="w-[22%] font-normal text-lg">Subject</th>
                <th class="w-[15%] font-normal text-lg">Type</th>
                <th class="w-[6%]  font-normal text-lg">Verb</th>
            </tr>

        </thead>

    </table>

</div>
<div class="tableHight w-full">
    <table class="w-full">
        <tbody class="p-5 ">
            <ng-container *ngFor="let senseFrame of sense?.frames" class="w-full">

                <tr class="w-full">
                    <td colspan="7">
                        <div class="h-10 bg-[#F7F7F7] w-full flex items-center justify-center gap-3" *ngIf="sense">
                            <mat-checkbox [(ngModel)]=" senseFrame.type" color="primary" class="example-margin text-base font-medium text-[#FF963D]">Type</mat-checkbox>
                            <mat-checkbox [(ngModel)]=" senseFrame.pastEvent" color="primary" class="example-margin text-base font-medium text-[#FF963D]">Past Event</mat-checkbox>
                            <mat-checkbox [(ngModel)]=" senseFrame.negative" color="primary" class="example-margin text-base font-medium text-[#FF963D]">Negative</mat-checkbox>
                            <mat-checkbox [(ngModel)]=" senseFrame.Informative" color="primary" class="example-margin text-base font-medium text-[#FF963D]">Informative</mat-checkbox>
                            <mat-checkbox [(ngModel)]=" senseFrame.ignoreTellAbout" color="primary" class="example-margin text-base font-medium text-[#FF963D]">Ignore Tell About</mat-checkbox>
                            <mat-checkbox [(ngModel)]=" senseFrame.ignoreExplain" color="primary" class="example-margin text-base font-medium text-[#FF963D]">Ignore Frame Explain</mat-checkbox>
                        </div>
                    </td>

                </tr>
                <tr class="">
                    <td class="w-[3%]">
                        <mat-icon (click)="deleteFrame(senseFrame.entityId)" svgIcon="mat:delete"></mat-icon>
                    </td>
                    <td class="px-2 w-[12%]">
                        <div class=" h-[212px] bg-[#eeeded] mt-2 p-1 rounded-xl border overflow-auto">
                            <div class="flex justify-end">
                                <button (click)="addAdverb()"><mat-icon svgIcon="mat:add_circle_outline" class="text-orange-500"></mat-icon></button>
                            </div>

                            <div>
                                <button *ngFor="let ad of senseFrame.adv ; let i =index" class=" rounded-sm text-white m-1 px-2 pb-1 bg-[#2E85AE] hover:bg-[#333333]">
              <div class="flex items-center">
                <mat-icon (click)="deleteAderb(i)"  svgIcon="mat:close" class="icon-sm"></mat-icon>
                {{ad.s}}
              </div>
              </button>
                            </div>
                        </div>
                    </td>
                    <td class="px-2 w-[20%]">
                        <div class=" mt-2">
                            <div class="h-[30px] bg-[#e6e4e4] rounded-sm border flex justify-center gap-1">
                                <mat-checkbox [(ngModel)]="senseFrame.cmpType.ratPlus" color="primary" class="example-margin text-base">Rat+</mat-checkbox>
                                <mat-checkbox [(ngModel)]="senseFrame.cmpType.ratMinus" color="primary" class="example-margin text-base">Rat-</mat-checkbox>
                                <mat-checkbox [(ngModel)]="senseFrame.cmpType.place" color="primary" class="example-margin text-base">Place</mat-checkbox>
                                <mat-checkbox [(ngModel)]="senseFrame.cmpType.time" color="primary" class="example-margin text-base">Time</mat-checkbox>
                            </div>
                            <div class="h-[150px] bg-[#eeeded] mt-1 p-1 rounded-t-xl border overflow-auto">
                                <div class="flex justify-end">
                                    <button *ngIf="senseFrame.type =='xxx' || senseFrame.type =='xxxd'" (click)="addComplement()"><mat-icon svgIcon="mat:add_circle_outline" class="text-orange-500"></mat-icon></button>
                                </div>

                                <div>
                                    <button *ngFor="let cm of senseFrame.cmp ; let i =index" class=" rounded-sm text-white m-1 px-2 pb-1 bg-[#D9534F] hover:bg-[#D2322D]">
                <div class="flex items-center">
                  <mat-icon (click)="deleteComplement(i)"  svgIcon="mat:close" class="icon-sm"></mat-icon>
                  {{cm.s}}
                </div>
                </button>
                                </div>
                            </div>
                            <div class="h-[60px] bg-[#e6e4e4] rounded-b-xl border overflow-auto">
                                <div class="flex justify-end gap-1">
                                    <p *ngIf="senseFrame.type =='xxx' || senseFrame.type =='xxxd'" (click)="addCmpModyfier()" class="bg-white rounded-sm px-1 mt-1 font-medium mr-1 hover:text-blue-500 hover:cursor-pointer">+p</p>
                                    <p *ngIf="senseFrame.type =='xxx' || senseFrame.type =='xxxd'" class="bg-white rounded-sm px-1 mt-1 font-medium mr-1 hover:text-blue-500 hover:cursor-pointer">+m</p>
                                </div>
                                <button *ngFor="let prep of senseFrame?.cmpModyfier?.preps; let i =index" class=" rounded-sm  m-1 px-2 pb-1 bg-white hover:bg-[#333333] hover:text-white">
              <div class="flex items-center">
                <mat-icon (click)="deleteCmpModyfier(i)"  svgIcon="mat:close" class="icon-xs"></mat-icon>
                {{getPrep(prep)}}
              </div>
              </button>
                            </div>
                        </div>
                    </td>
                    <td class="px-2 w-[22%]">
                        <div class=" mt-2">
                            <div class="h-[30px] bg-[#e6e4e4] rounded-sm border flex justify-center gap-1">
                                <mat-checkbox [(ngModel)]="senseFrame.objType.ratPlus" color="primary" class="example-margin text-base">Rat+</mat-checkbox>
                                <mat-checkbox [(ngModel)]="senseFrame.objType.ratMinus" color="primary" class="example-margin text-base">Rat-</mat-checkbox>
                                <mat-checkbox [(ngModel)]="senseFrame.objType.place" color="primary" class="example-margin text-base">Place</mat-checkbox>
                                <mat-checkbox [(ngModel)]="senseFrame.objType.time" color="primary" class="example-margin text-base">Time</mat-checkbox>
                            </div>
                            <div class="h-[150px] bg-[#eeeded] mt-1 p-1 rounded-t-xl border overflow-auto">
                                <div class="flex justify-end">
                                    <button *ngIf="senseFrame.type !='x'" (click)="addObject()"><mat-icon svgIcon="mat:add_circle_outline" class="text-orange-500"></mat-icon></button>
                                </div>

                                <div>
                                    <button *ngFor="let ob of senseFrame.obj ; let i =index" class=" rounded-sm text-white m-1 px-2 pb-1 bg-[#D9534F] hover:bg-[#D2322D]">
                <div class="flex items-center">
                  <mat-icon (click)="deleteObject(i)"  svgIcon="mat:close" class="icon-sm"></mat-icon>
                  {{ob.s}}
                </div>
                </button>
                                </div>
                            </div>
                            <div class="h-[60px] bg-[#e6e4e4] rounded-b-xl border overflow-auto">
                                <div class="flex justify-end gap-1">
                                    <p *ngIf="senseFrame.type !='x'" (click)="addObjModyfier()" class="bg-white rounded-sm px-1 mt-1 font-medium mr-1 hover:text-blue-500 hover:cursor-pointer">+p</p>
                                    <p *ngIf="senseFrame.type !='x'" class="bg-white rounded-sm px-1 mt-1 font-medium mr-1 hover:text-blue-500 hover:cursor-pointer">+m</p>
                                </div>
                                <button *ngFor="let prep of senseFrame?.objModyfier?.preps; let i =index" class=" rounded-sm  m-1 px-2 pb-1 bg-white hover:bg-[#333333] hover:text-white">
          <div class="flex items-center">
            <mat-icon (click)="deleteObjModyfier(i)"  svgIcon="mat:close" class="icon-xs"></mat-icon>
            {{getPrep(prep)}}
          </div>
          </button>
                            </div>
                        </div>
                    </td>
                    <td class="px-2 w-[22%]">
                        <div class=" mt-2">
                            <div class="h-[30px] bg-[#e6e4e4] rounded-sm border flex justify-center gap-1">
                                <mat-checkbox [(ngModel)]="senseFrame.sbjType.ratPlus" color="primary" class="example-margin text-base">Rat+</mat-checkbox>
                                <mat-checkbox [(ngModel)]="senseFrame.sbjType.ratMinus" color="primary" class="example-margin text-base">Rat-</mat-checkbox>
                                <mat-checkbox [(ngModel)]="senseFrame.sbjType.place" color="primary" class="example-margin text-base">Place</mat-checkbox>
                                <mat-checkbox [(ngModel)]="senseFrame.sbjType.time" color="primary" class="example-margin text-base">Time</mat-checkbox>
                            </div>
                            <div class="h-[210px] bg-[#eeeded] mt-1 p-1 rounded-xl border overflow-auto">
                                <div class="flex justify-end">
                                    <button (click)="addSubject()"><mat-icon svgIcon="mat:add_circle_outline" class="text-orange-500"></mat-icon></button>
                                </div>
                                <div>
                                    <button *ngFor="let sb of senseFrame.sbj; let i =index" class=" rounded-sm text-white m-1 px-2 pb-1 bg-[#D9534F] hover:bg-[#D2322D]">
                <div class="flex items-center">
                  <mat-icon (click)="deleteSubject(i)"  svgIcon="mat:close" class="icon-sm"></mat-icon>
                  {{sb.s}}
                  <p class="text-white font-medium bg-[#FF9336] rounded-md ml-2 px-2 mt-[3px]">Cat</p>
                </div>
                </button>
                                </div>
                            </div>

                        </div>
                    </td>
                    <td class="px-2 [15%]">
                        <div class=" mt-4">
                            <div class="h-[50px] bg-[#e6e4e4] rounded-2xl border px-2 pb-2">
                                <div class="h-[35px] border-[1.5px] border-[#CCCCCC]  mx-1 mt-2 rounded-sm shadow-b-sm  bg-white">
                                    <mat-select [(ngModel)]="senseFrame.type" class="text-base px-3">
                                        <mat-option value="x">x</mat-option>
                                        <mat-option value="xd">xd</mat-option>
                                        <mat-option value="xx">xx</mat-option>
                                        <mat-option value="xxx">xxx</mat-option>
                                        <mat-option value="xxd">xxd</mat-option>
                                        <mat-option value="xxxd">xxxd</mat-option>
                                    </mat-select>
                                </div>
                            </div>
                            <div class="h-[185px] bg-[#eeeded] mt-1 rounded-xl border flex flex-col overflow-auto p-2">
                                <mat-checkbox *ngIf="senseFrame.type =='xx'" [(ngModel)]="senseFrame.frameFeat.request" color="primary" class="example-margin ">طلب</mat-checkbox>
                                <mat-checkbox *ngIf="senseFrame.type =='xx'" [(ngModel)]="senseFrame.frameFeat.requestGain" color="primary" class="example-margin ">طلب : الحصول</mat-checkbox>
                                <mat-checkbox *ngIf="senseFrame.type =='xx'" [(ngModel)]="senseFrame.frameFeat.framePropLinkedToObj" color="primary" class="example-margin ">Prop Linked:Object</mat-checkbox>
                                <mat-checkbox *ngIf="senseFrame.type =='xx'" [(ngModel)]="senseFrame.frameFeat.genObjSbj" color="primary" class="example-margin ">Object Gen to Subject</mat-checkbox>
                                <mat-checkbox *ngIf="senseFrame.type =='xx'" [(ngModel)]="senseFrame.frameFeat.genSbjObj" color="primary" class="example-margin ">Subject Gen to Object</mat-checkbox>
                                <mat-checkbox [(ngModel)]="senseFrame.frameFeat.domaninEllipsis" color="primary" class="example-margin ">Domain:Ellipsis</mat-checkbox>
                                <mat-checkbox [(ngModel)]="senseFrame.frameFeat.ellipsisExceptObj" color="primary" class="example-margin ">Ellipsis All Except Obj</mat-checkbox>
                                <mat-checkbox [(ngModel)]="senseFrame.frameFeat.sbjMandatory" color="primary" class="example-margin ">Subject Mandatory</mat-checkbox>
                                <mat-checkbox [(ngModel)]="senseFrame.frameFeat.exactObject" color="primary" class="example-margin">Exact:ObjToAnswer</mat-checkbox>
                            </div>
                        </div>
                    </td>

                    <td class="px-2 w-[6%]">
                        <div class=" mt-4">
                            <div class="h-[120px] bg-[#e6e4e4] rounded-3xl border flex flex-col items-center justify-center">
                                <mat-icon svgIcon="mat:remove_red_eye" class="text-orange-500 icon-3xl"></mat-icon>
                                <p>{{senseFrame.entityId}}</p>
                                <p>{{Verb}}</p>
                            </div>
                        </div>
                    </td>
                </tr>
            </ng-container>

        </tbody>
    </table>
</div>

<mat-divider *ngIf="sense" class="border-[1.5px]"></mat-divider>
<div *ngIf="sense" class="bg-[#F7F7F7] px-4">
    <div class="flex justify-center pt-2">
        <button class="px-3 py-1 text-white font-medium bg-[#1F2F3C] rounded-sm hover:bg-[#FF9336] mx-3" (click)="close()">Close</button>
    </div>
</div>
