<div class="mt-2 flex bg-[#f8f6f6] w-full">
    <div class="flex justify-between w-full ">
        <div>
            <button (click)="activeTap = 'All Tasks'" class="relative text-[#609DD2] text-base px-4 py-2 rounded-sm hover:bg-[#EEEEEE]" [ngClass]="{'tapBorder':activeTap == 'All Tasks'}">All Tasks</button>
            <button class="relative text-[#609DD2] text-base px-4 py-2 rounded-sm hover:bg-[#EEEEEE]" [ngClass]="{'tapBorder':activeTap == 'All Problems'}">All Problems</button>
            <button class="relative text-[#609DD2] text-base px-4 py-2 rounded-sm hover:bg-[#EEEEEE]" [ngClass]="{'tapBorder':activeTap == 'Inconsistency Tasks'}">Inconsistency Tasks</button>
            <button class="relative text-[#609DD2] text-base px-4 py-2 rounded-sm hover:bg-[#EEEEEE]" [ngClass]="{'tapBorder':activeTap == 'Search'}">Search</button>
        </div>
    </div>
    <div class="flex items-center mx-10">
        <input [(ngModel)]="createEntityInput" placeholder="Task Name" class="p-1 border border-[#ccc] rounded-sm" type="text">
        <button (click)="createEntity()" class=" ml-3 w-36 py-1 px-2  text-base rounded-sm text-white  bg-[#F0913F]">CREATE ENTITY</button>
    </div>
</div>
<div class="mx-4 flex justify-between">
    <div class="mt-3 flex gap-4">
        <button (click)="consistencyCheck()" class="hover:bg-[#FF9336] rounded-sm text-white flex items-center py-1 px-2 bg-[#1F2F3C]"> Batch&Consistency</button>
        <mat-checkbox [(ngModel)]="removeEntity" labelPosition="before" color="primary" class="example-margin text-base font-medium text-[#FF963D]">Remove Entities:</mat-checkbox>
    </div>
    <mat-paginator #paginator class="demo-paginator" [showFirstLastButtons]="true" [length]="totalItems" [pageSize]="10" aria-label="Select page"> </mat-paginator>
</div>

<div class="grid grid-cols-5 ">
    <div class="mx-6 mt-2 tableHeight py-1 col-span-3">
        <table mat-table [dataSource]="dataSource" class="">
            <ng-container matColumnDef="position">
                <td mat-cell *matCellDef="let element">
                    <div class="my-2">
                        <mat-accordion>
                            <mat-expansion-panel (click)="set_id(element._id,element)" [expanded]="_selected_id == element._id" (opened)="_selected_id == element._id" (closed)="_selected_id != element._id">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <div class="grid grid-cols-4 w-full">
                                            <div class="flex w-60 items-center">
                                                <p class="bg-[#F9A154] p-2 text-white font-medium rounded-sm">{{element._id}}</p>
                                                <div class="mx-5">
                                                    <p *ngIf="element.name != null" class="text-sm text-[#3F3F3F] font-medium">{{element.name}}</p>
                                                    <p *ngIf="element.name == null" class="text-sm text-[#3F3F3F] font-medium">{{element.intentId}}</p>
                                                </div>
                                            </div>

                                            <div class="flex items-center overflow-auto h-[50px] col-span-2" *ngIf="element.examples.length > 0">
                                                <p class="text-[15px]  text-center text-[#3F3F3F] font-medium overflow-auto break-words whitespace-normal">
                                                    {{element.examples[0].text}}
                                                </p>
                                            </div>
                                            <div class="flex items-center mx-12" *ngIf="element.examples.length < 1">
                                            </div>
                                            <div *ngIf="element.linkedFact != null" class="justify-self-end mt-2">
                                                <button (click)="openLinkedFact($event, element)" class="text-orange-600 flex items-center font-medium border-black border-[2px] p-1"> <mat-icon svgIcon="mat:attach_file"></mat-icon> Linked To Fact</button>
                                            </div>
                                            <div *ngIf="element.linkedFact == null && _selected_id == element._id" class="justify-self-end">
                                                <div class="flex gap-2 items-center mt-3">
                                                    <button (click)="saveTask(element, '0')" matTooltip="Save Task" class="text-orange-400 border border-[#ebe4e4] flex items-center hover:bg-slate-200 hover:text-black rounded-sm"><mat-icon svgIcon="mat:save"></mat-icon></button>
                                                    <button (click)="deleteTask(element)" matTooltip="Delete Task" class="text-orange-400 border border-[#ebe4e4] flex items-center hover:bg-slate-200 hover:text-black rounded-sm"><mat-icon svgIcon="mat:delete"></mat-icon></button>
                                                </div>
                                            </div>
                                        </div>
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <div class="bg-[#F7F7F7] border p-2">

                                    <div class="bg-white p-2 rounded-sm">
                                        <div *ngIf="_selected_id == element._id">
                                            <mat-form-field class="w-full text-xs">
                                                <input (keyup.enter)="createExample()" class="" [(ngModel)]="addExampleValue" placeholder="Add example" matInput type="text">
                                            </mat-form-field>
                                            <div (click)="selectedExampleId = example.exId " *ngFor="let example of element.examples ; let i = index" class="w-full px-2 mb-2 min-h-[62px] rounded-sm  border border-[#DDDDDD]">
                                                <div class="mt-4 flex justify-between">
                                                    <p class="text-base" *ngIf="selectedExampleId != example.exId">{{example?.text}}</p>
                                                    <input class="focus:outline-none p-1 text-base" *ngIf="selectedExampleId == example.exId" [(ngModel)]="example.text" type="text" />
                                                    <div class="flex gap-2 items-center" *ngIf="selectedExampleId == example.exId ">
                                                        <button (click)="extractEntities(example, i)" matTooltip="Extract Entities" class="text-slate-950 border border-[#ebe4e4] flex items-center hover:bg-slate-200 hover:text-black rounded-sm p-1"><mat-icon class="icon-xs" svgIcon="mat:build"></mat-icon></button>
                                                        <button (click)="saveExample(example, i)" matTooltip="Save example" class="text-orange-400 border border-[#ebe4e4] flex items-center hover:bg-slate-200 hover:text-black rounded-sm"><mat-icon svgIcon="mat:save"></mat-icon></button>
                                                        <button (click)="deleteExample(example, i)" matTooltip="Delete example" class="text-orange-400 border border-[#ebe4e4] flex items-center hover:bg-slate-200 hover:text-black rounded-sm"><mat-icon svgIcon="mat:delete"></mat-icon></button>
                                                    </div>
                                                </div>
                                                <div *ngIf="selectedExampleId == example.exId" class="h-12 mt-4">
                                                    <span class="bg-[#E0E0E0] rounded-sm p-1 mx-1" *ngFor="let enxtractEnt of example?.pattern; let pattrenIndex = index">{{enxtractEnt?.entityText}}
                                                   <span class="text-white bg-[#999999] rounded-full px-1 font-semibold">{{enxtractEnt?.entityId}}</span>
                                                    <span (click)="deletePattern(pattrenIndex, i )" class="text-white bg-[#999999] rounded-full px-2 cursor-default font-semibold mx-1 text-center">x</span>
                                                    <span (click)="openAddSyn(enxtractEnt)" class="text-white bg-[#999999] rounded-full px-2 font-semibold text-center cursor-default">s</span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </div>
                </td>
            </ng-container>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

    </div>

    <div *ngIf="selectedIntent && selectedIntent.dialog_nodes.length > 0  && selectedIntent.linkedFact == null" class="mr-3 mt-2 col-span-2">
        <div class="bg-white border rounded-sm">
            <mat-radio-group color="primary" [(ngModel)]="selectedIntent.responseMode" (change)="changeResponseMode()" class="flex justify-evenly p-2">
                <mat-radio-button [value]="1">Static Responses</mat-radio-button>
                <mat-radio-button [value]="2">Diagram-Flow</mat-radio-button>
            </mat-radio-group>
        </div>
        <div *ngIf="selectedIntent.responseMode == 1 ">
            <vex-knowledge-taskstatic-response (sendObject)="saveTask($event, '1')" [workspace_id]="projectId" [intentId]="selectedIntent.dialog_nodes[0].intentId" [dialogNodes]="selectedIntent.dialog_nodes[0]"></vex-knowledge-taskstatic-response>
        </div>
    </div>
</div>