.webWidget {
    background-size: 100% 42%;
    background-position: top;
    background-repeat: no-repeat;
}

.MobileApp {
    background-size: 100% 42%;
    background-position: top;
    background-repeat: no-repeat;
}

.Whatsapp {
    background-size: 100% 42%;
    background-position: top;
    background-repeat: no-repeat;
}

.Twitter {
    background-size: 100% 42%;
    background-position: top;
    background-repeat: no-repeat;
}

.FacebookMessenger {
    background-size: 100% 42%;
    background-position: top;
    background-repeat: no-repeat;
}

.Instagram {
    background-size: 100% 42%;
    background-position: top;
    background-repeat: no-repeat;
}

.Telegram {
    background-size: 100% 42%;
    background-position: top;
    background-repeat: no-repeat;
}