.matFormstyle {
    font-size: 12px;
}

.active {
    background-color: #F5F5F8;
    color: rgb(14, 14, 29);
}

.textColor {
    color: #333;
}

.buttonStyle {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 600;
    background: transparent !important;
    background-image: linear-gradient(to left bottom, #f59a4b, #da6908) !important;
}
