<div class="">
    <div class="flex justify-center">
        <a href="https://alkhwarizmi.xyz/Reports/index/?chatbotId={{projectId}}&id=HomeLoan&startDate={{startDate}}&endDate={{endDate}}"> <button mat-button color="primary" class="rounded-sm hover:bg-gray-200 active:text-slate-800 active:bg-gray-200 focus:text-slate-800 focus:bg-gray-200">  <mat-icon svgIcon="mat:save_alt" class="mr-1 "></mat-icon>Home Loan</button></a>
        <a href="https://alkhwarizmi.xyz/Reports/index/?chatbotId={{projectId}}&id=PersonalLoanLeads&startDate={{startDate}}&endDate={{endDate}}"> <button mat-button color="primary" class="rounded-sm hover:bg-gray-200"> <mat-icon svgIcon="mat:save_alt" class="mr-1 "></mat-icon> Personal Loan</button>
        </a>
        <a href="https://alkhwarizmi.xyz/Reports/index/?chatbotId={{projectId}}&id=CarLoan&startDate={{startDate}}&endDate={{endDate}}"> <button mat-button color="primary" class="rounded-sm hover:bg-gray-200"> <mat-icon svgIcon="mat:save_alt" class="mr-1 "></mat-icon> Car Loan</button>
        </a>
    </div>
</div>
<mat-divider></mat-divider>
