<div class="grid grid-cols-2 ">
    <div class=" border  p-4  maxHeight">
        <button mat-raised-button (click)="CreateIndex()" class="flex items-center py-1 rounded-sm">
                <mat-icon svgIcon="mat:add" class="icon"></mat-icon>
                <h3 class="title">Create Index</h3>
   </button>
        <div class="mt-4 mx-4">
            <p class="text-lg font-medium text-[#092e50] my-2">Total Indices:</p>
            <p class="text-lg font-medium text-[#092e50] my-2">Total documents:</p>
            <p class="text-lg font-medium text-[#092e50] my-2">Total chunks:</p>
        </div>
    </div>

</div>
