.maxHeight {
    height: calc(100vh - 500px);
    min-height: 150px;
    overflow: auto;
}

.containerHeight {
    height: calc(100vh - 250px);
    overflow: auto;
}

* {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.outdated {
    background-color: #f70505;
}

.up-to-date {
    background-color: #4caf50;
}

.queued {}

.running {
    background-color: #1f9fe9;
    color: #ffff;
}

// .succeeded {
//     background-color: #4caf50;
// }
// .failed {
//     background-color: #f70505;
// }
// .canceled {
//     background-color: #f70505;
// }
.running_1 {
    color: #1f9fe9;
}

.succeeded_1 {
    color: #4caf50;
}

.failed_1,
.canceled_1 {
    color: #f70505;
}
