<div class="w-[920px] ">
    <div mat-dialog-title class="flex justify-center items-center h-16 -mx-6 -mt-6 bg-orange-400 ">
        <div>
            <h1 *ngIf="data.mode =='Entity'" class="text-2xl text-gray-50">ِAdd Entity</h1>
            <h1 *ngIf="data.mode =='Synonym'" class="text-2xl text-gray-50">ِAdd Synonym</h1>
            <h1 *ngIf="data.mode =='edit'" class="text-2xl text-gray-50">Modify Parent Entity</h1>
        </div>

    </div>

    <ng-container>
        <mat-dialog-content>
            <div class="h-full">
                <form [formGroup]="form" class="w-full">
                    <mat-form-field appearance="fill" class="h-10 w-full text-[10px]">
                        <mat-label>Original Entity</mat-label>
                        <input cdkFocusInitial matInput formControlName="entityText">
                    </mat-form-field>
                    <button (click)="getStem()" class="rounded-sm bg-slate-200 text-slate-950 hover:text-slate-900 hover:bg-slate-50 p-2 mt-2" type="button">get stem</button>
                    <mat-form-field appearance="fill" class="h-10 w-full text-[10px] mt-6">
                        <mat-label>Stemmed Entity</mat-label>
                        <input cdkFocusInitial matInput formControlName="stemmedEntity">
                    </mat-form-field>

                    <mat-form-field style="font-size: 12px;" class="w-full mt-6" *ngIf="data.mode =='Entity'">
                        <mat-label> Features</mat-label>
                        <mat-select formControlName="Type">
                            <mat-option value>None</mat-option>
                            <mat-option value="class">Class</mat-option>
                            <mat-option value="action">Action</mat-option>
                            <mat-option value="condation">Condation</mat-option>
                            <mat-option value="individual">Individual</mat-option>
                            <mat-option value="prop">Prop</mat-option>
                            <mat-option value="ques_tool">Ques_tool</mat-option>
                            <mat-option value="adverb">Adverb</mat-option>
                        </mat-select>
                    </mat-form-field>
                </form>

                <div class="border-[2px]  py-2 px-5 mb-3 h-[330px] overflow-auto mt-2" *ngIf="getStems">
                    <div class="flex gap-6">
                        <div class="">
                            <div class="" *ngFor="let token of tokens; let i = index">
                                <button (click)="getAnalysis(token, i)" class="w-[150px] text-center text-lg font-semibold rounded-sm bg-slate-100 text-slate-950 hover:text-slate-900 hover:bg-orange-200 p-2 mt-2" type="button">
                                  {{token.token}}
                                  </button>
                            </div>
                        </div>

                        <div class="h-[170px] overflow-auto" *ngIf="showAnalysis == true && showSenses == false">
                            <div [ngClass]="{'bg-[#f7d6b9]': token.anlysIndex == i}" (click)="getSense(anlys, i)" dir="rtl" *ngFor="let anlys of token.analysis; let i = index" class="flex flex-row justify-around bg-[#F6F6F6] hover:bg-[#F5D6BB] text-center items-center border-2  w-[600px] h-10">
                                <p class="text-lg font-medium ">{{anlys.stem}}</p>
                                <p class="text-lg font-medium text-[#FD8938]">{{getArPost(anlys.stemPos)}} </p>
                                <p class="text-lg font-medium">{{anlys.stemId}}</p>
                                <button (click)="getSenses(anlys.stemId)" class=" text-center font-semibold rounded-sm bg-[#5E86AB] text-white px-2 py-1">Senses</button>
                            </div>
                        </div>
                        <div class="h-[170px] overflow-y-auto overflow-x-hidden" *ngIf="showAnalysis == false && showSenses == true">
                            <div dir="rtl" (click)="changeSenceAppearance()" *ngFor="let sense of senses" class="flex flex-row justify-start bg-[#F6F6F6] hover:bg-[#F5D6BB] text-lg border-2 px-1  w-[600px]">
                                {{sense.description}}
                            </div>
                        </div>

                    </div>

                    <div class="mt-4 ">
                        <p>Feedback:</p>
                        <mat-form-field appearance="fill" class="h-10 w-full text-[10px] mt-2 ">
                            <mat-label>enter your feedback</mat-label>
                            <input cdkFocusInitial matInput>
                        </mat-form-field>

                        <mat-form-field style="font-size: 12px;" class="w-full mt-3">
                            <mat-select>
                                <mat-option value="Order">Order</mat-option>
                                <mat-option value="Missed Analysis">Missed Analysis</mat-option>
                                <mat-option value="Rare Analysis">Rare Analysis</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <button class="rounded-sm bg-slate-100 text-slate-950 hover:text-slate-900 hover:bg-slate-50 p-2 " type="button">Send Feedback</button>
                    </div>
                </div>
            </div>

        </mat-dialog-content>

        <mat-divider></mat-divider>

        <mat-dialog-actions align="end">
            <div class="flex flex-row items-center gap-2 mb-3">
                <button mat-raised-button class="rounded-sm bg-slate-900 text-slate-50 hover:text-slate-900 hover:bg-orange-500" mat-dialog-close type="button">Close</button>
                <button *ngIf="data.mode !=='edit'" mat-raised-button class="rounded-sm bg-slate-900 text-slate-50 hover:text-slate-900 hover:bg-orange-500" [disabled]="!form.valid" (click)="creatOntoloyEntity()" type="button">Create</button>
                <button *ngIf="data.mode =='edit'" mat-raised-button class="rounded-sm bg-slate-900 text-slate-50 hover:text-slate-900 hover:bg-orange-500" [disabled]="!form.valid" (click)="EditOntoloyEntity()" type="button">Update</button>
            </div>
        </mat-dialog-actions>
    </ng-container>
</div>