<div>
    <div mat-dialog-title class="flex justify-center items-center h-16 -mx-6 -mt-6 bg-orange-400 ">
        <div>
            <h1 class="text-2xl text-gray-50">Sort Domains </h1>

        </div>

    </div>

    <ng-container>
        <mat-dialog-content class="w-[700px] py-5">
            <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
                <div class="example-box " *ngFor="let domain of data.Domains" cdkDrag>
                    <mat-icon svgIcon="mat:sort" class="mx-4"></mat-icon> {{domain.entityText}}</div>
            </div>


        </mat-dialog-content>

        <mat-divider></mat-divider>

        <mat-dialog-actions align="end">
            <div class="flex flex-row items-center gap-2 mb-3">
                <button mat-raised-button class="w-2 bg-slate-900 text-slate-50 hover:text-slate-900 hover:bg-orange-500" mat-dialog-close type="button">Cancel</button>
                <button mat-raised-button class="w-2 bg-slate-900 text-slate-50 hover:text-slate-900 hover:bg-orange-500" (click)="saveDomains()"> Save</button>
            </div>
        </mat-dialog-actions>
    </ng-container>
</div>