.mat-tab-link {
    font-size: 15px;
    min-width: 25px;
}

.active {
    border-bottom: 2px solid rgb(248, 183, 5);
    font-weight: 800;
    padding-bottom: 8px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
}

a {
    font-size: 16px;
    font-weight: 400;
    color: #383737;
}
