<div class="bg-[#272a33] py-10">
    <div class="m-4">
        <a href="" class="text-yellow-700 text-2xl tracking-wider hover:text-slate-100 hover:underline "><strong>ALKWARAZIMI </strong></a>
    </div>

    <div class="flex justify-between gap-4 mx-4 mb-4">
        <div class="bg-[#2f323b] h-24 w-full hover:bg-orange-700 rounded-md	hover:shadow-xl hover:shadow-orange-500 relative">
            <div class="absolute top-4 left-4 flex justify-start items-center gap-4">
                <mat-icon svgIcon="mat:person_outline" matTooltip="" class=" text-orange-400  "></mat-icon>
                <h1 class="text-lg text-gray-50">{{users}}</h1>
                <p class="text-slate-50">Bot Developer Users</p>
            </div>
        </div>
        <div class="bg-[#2f323b] h-24 w-full hover:bg-orange-700 rounded-md	hover:shadow-xl hover:shadow-orange-500 relative">
            <div class="absolute top-4 left-4 flex justify-start items-center gap-4">
                <mat-icon svgIcon="mat:group" matTooltip="" class=" text-orange-400  "></mat-icon>
                <h1 class="text-lg text-gray-50">{{messangerUsers}}</h1>
                <p class="text-slate-50">Messanger Users</p>
            </div>
        </div>

        <div class="bg-[#2f323b] h-24 w-full hover:bg-orange-700 rounded-md	hover:shadow-xl hover:shadow-orange-500 relative">
            <div class="absolute top-4 left-4 flex justify-start items-center gap-4">
                <div class=" flex justify-start items-center gap-4 ">
                    <mat-icon svgIcon="mat:shopping_cart" matTooltip="" class=" text-orange-400  "></mat-icon>
                    <h1 class="text-lg text-orange-400">Active: <span class="text-slate-50">{{maxAllawedBots}}</span> Deleted: <span class="text-slate-50">{{chatbotCountDeleted}}</span></h1>
                </div>
            </div>
            <div class="absolute top-12 pl-12">
                <h1 class="text-sm text-[#6F8F99]"> Total {{chatbotCount}} From {{chatbotCount}} Chatbots </h1>
            </div>
        </div>
    </div>


    <div class="mx-4">
        <h1 class="text-xl my-1">Chatbots</h1>
        <ng-container *ngIf="chatbots.length > 0">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                <!-- Position Column -->
                <ng-container matColumnDef="ID">
                    <th mat-header-cell *matHeaderCellDef>ID</th>
                    <td mat-cell *matCellDef="let element">
                        <a href="" class="text-yellow-700 text-base tracking-wider hover:text-slate-100 hover:underline "><strong>{{element._id}}</strong></a>
                    </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="Name">
                    <th mat-header-cell *matHeaderCellDef> Name </th>
                    <td mat-cell *matCellDef="let element">
                        <a href="" class="text-yellow-700 text-base tracking-wider hover:text-slate-100 hover:underline "><strong>{{element.name}}</strong></a>
                    </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="Intents">
                    <th mat-header-cell *matHeaderCellDef>Intents</th>
                    <td mat-cell *matCellDef="let element">
                        {{element.intents}}
                    </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="DialogNodes">
                    <th mat-header-cell *matHeaderCellDef>Dialog Nodes</th>
                    <td mat-cell *matCellDef="let element">{{element.dialog_nodes}}
                    </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="Entities">
                    <th mat-header-cell *matHeaderCellDef>Entities</th>
                    <td mat-cell *matCellDef="let element"> {{element.entities}} </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="Created">
                    <th mat-header-cell *matHeaderCellDef>Created</th>
                    <td mat-cell *matCellDef="let element">
                        {{element.created | date:'medium' }}
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </ng-container>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
    </div>
</div>