.matFormstyle {
    font-size: 12px;
}

.example-margin {
    margin: -3px 5px;
}

table {
    width: 100%;
}

cdk-virtual-scroll-viewport {
    height: 100%;
    max-width: 100%;
}

.tableHeight {
    height: calc(100vh - 310px);
}

.textColor {
    color: #333;
}