<div class="bg-[#2F323B]">
    <div class="m-6">
        <div class="m-y pt-2">
            <a href="" class="text-yellow-700 text-2xl tracking-wider hover:text-slate-100 hover:underline "><strong>CREATE ACCOUNT </strong></a>
        </div>
        <!-- <h1 class="text-2xl text-[#E77512] pt-6">CREATE NEW BOT DEVELOPER</h1> -->
        <div class="bg-[#393C44] w-full  mt-6 pr-4 pl-16 border-b-orange-400 border-b-2 shadow-2xl ">
            <h1 class="text-lg pt-6">Create Account</h1>
            <form class="flex flex-col  justify-between py-2" [formGroup]="form">

                <mat-form-field class="flex-auto">
                    <mat-label>Name</mat-label>
                    <input matInput Enmity="Name" formControlName="name">
                </mat-form-field>

                <mat-form-field class="flex-auto">
                    <mat-label>Email</mat-label>
                    <input matInput Enmity="Email" formControlName="Email">
                </mat-form-field>
                <mat-form-field class="flex-auto">
                    <mat-label>Password</mat-label>
                    <input matInput Enmity="Password" formControlName="Password">
                </mat-form-field>

                <mat-form-field class="flex-auto">
                    <mat-label>Confirm password</mat-label>
                    <input matInput Enmity="Confirm password" formControlName="ConfirmPassword">
                </mat-form-field>


                <mat-form-field class="flex-auto">
                    <mat-label>allawedChatbotCount</mat-label>
                    <input matInput type="number" Enmity="allawedChatbotCount" formControlName="allawedChatbotCount">
                </mat-form-field>

                <mat-form-field class="flex-auto">
                    <mat-label>Website</mat-label>
                    <input matInput Enmity="Website" formControlName="Website">
                </mat-form-field>

                <mat-form-field class="flex-auto">
                    <mat-label>facebookAccount</mat-label>
                    <input matInput Enmity="facebookAccount" formControlName="facebookAccount">
                </mat-form-field>


                <mat-form-field class="flex-auto">
                    <mat-label>twitterAccount</mat-label>
                    <input matInput Enmity="twitterAccount" formControlName="twitterAccount">
                </mat-form-field>
            </form>
            <div class="flex justify-end gap-3">
                <div>
                    <button mat-raised-button color="primary" (click)="createAccount()">Create</button>
                </div>
            </div>
            <div class="my-5">
            </div>
        </div>
    </div>
</div>
