.doc-item.active {
    background-color: #c7f0ff;
}

.maxHeight {
    height: calc(100vh - 200px);
    min-height: 200px;
    overflow: auto;
}

.maxdocumentsHeight {
    height: calc(100vh - 300px);
    min-height: 200px;
    overflow: auto;
}

.search-input {
    flex: 1;
    width: 96%;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.search-input:focus {
    border: 1px solid #F0903E !important;
    outline: none !important;
    box-shadow: 0 0 3px #F0903E;
    /* Optional visual feedback */
}

.deleteRed,
.deleteRed:hover {
    color: #f09e56
}

.selectesDocBg,
.selectesDocBg:hover {
    background-color: #f5b57d
}

.selectesDocBgFaild,
.selectesDocBgFaild:hover {
    background-color: #f44336
}

.selectesDocBgSuccess,
.selectesDocBgSuccess:hover {
    background-color: #4caf50
}

.contentText {
    white-space: pre-line;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.8;
    font-size: 14px;
    font-weight: 500;
    height: calc(100vh - 330px);
    min-height: 200px;
    overflow: auto;
    background-color: #ffff;
    padding: 4px 8px;
    border-radius: 4px;
}

.overViewOrconfigButton {
    padding: 8px 16px;
    background-color: #f0f0f0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
}


/* Hover style */

.overViewOrconfigButton:hover {
    background-color: #e0e0e0;
    transform: translateY(-1px);
}


/* Active route style */

.active {
    background-color: #F0903E;
    color: white;
}


/* Optional: Hover style when already active */

.active:hover {
    background-color: #F0903E;
}

.displayNone {
    display: none !important;
}

////////////dialog importdata/////
.icon {
    font-size: 36px;
    color: #3f51b5;
}

.title {
    font-size: 14px;
    font-weight: 500;
}

.desc {
    font-size: 14px;
    color: #555;
}

.Not_Imported {}

.IMPORTED {
    background-color: #4caf50;
    /* Green – Success */
}

.STARTING {
    background-color: #2196f3;
    /* Blue – Starting up */
}

.LOADING {
    background-color: #03a9f4;
    /* Light Blue – Loading resources */
}

.EMBEDDING {
    background-color: #ff9800;
    /* Orange – Embedding in progress */
}

.INGESTING {
    background-color: #e79924;
    /* Yellow – Ingesting data */
}

.CHUNKING {
    background-color: #9c27b0;
    /* Purple – Chunking text */
}

.FAILD {
    background-color: #f44336;
    /* Red – Failure */
}