<div class="grid grid-cols-5 gap-5">
    <div class=" w-full mx-4 col-span-2">
        <div class="flex gap-1 mt-2">
            <div>
                <button (click)="selectTap('frame')" class="relative text-[#609DD2] text-base px-4 py-2 rounded-sm hover:bg-[#EEEEEE]" [ngClass]="{'tapBorder':activeTap == 'frame'}">Frame
                </button>
            </div>
            <div>
                <button (click)="selectTap('sbj')" class="relative text-[#609DD2] text-base px-4 rounded-sm py-2 hover:bg-[#EEEEEE]" [ngClass]="{'tapBorder':activeTap == 'sbj'}">
                  Subject <mat-icon *ngIf="LinkedArgSubj" (click)=" deleteArg($event,'sbj')" class="text-white bg-red-600 rounded-full absolute top-0 right-0 icon12Px" svgIcon="mat:remove"></mat-icon>
                </button>
            </div>
            <div>
                <button (click)="selectTap('obj')" class="relative text-[#609DD2] text-base px-4 rounded-sm py-2 hover:bg-[#EEEEEE]" [ngClass]="{'tapBorder':activeTap == 'obj'}">
                  Object <mat-icon *ngIf="LinkedArgObj" (click)=" deleteArg($event,'obj')" class="text-white bg-red-600 rounded-full absolute top-0 right-0 icon12Px " svgIcon="mat:remove"></mat-icon>
                </button>
            </div>
            <div>
                <button (click)="selectTap('cmp')" class="relative text-[#609DD2] text-base px-4 rounded-sm py-2 hover:bg-[#EEEEEE]" [ngClass]="{'tapBorder':activeTap == 'cmp'}">
                  Complement<mat-icon *ngIf="LinkedArgCmp" (click)=" deleteArg($event, 'cmp')" class="text-white bg-red-600 rounded-full absolute top-0 right-0 icon12Px " svgIcon="mat:remove"></mat-icon>
                </button>
            </div>

        </div>
        <div class="treeHight overflow-auto  w-full bg-white  mt-2 border border-[#AAA2B6] rounded-sm" *ngIf="TREE_DATA">
            <tree-root class=" w-full my-4" id="tree32" [focused]="true" [nodes]="TREE_DATA" [options]="options" #tree (moveNode)="onMoveNode($event)">
                <ng-template class="w-full  " #treeNodeTemplate let-node let-index="index">
                    <div (click)="seLectedNode(node.data)" [ngClass]="{'selectedNodeBg':node.data.node_id == selectedNodeId,'blackNodeBg':node.data.type != 'root' && node.data.type != 'attachment'}" class="  py-2  w-full mat-tree-node flex justify-between bg-[#F6F6F6] rounded-sm px-2  border border-slate-300 hover:border-black"
                        [id]="node.data._id">

                        <p [ngClass]="{'text-white':node.data.type != 'root' && node.data.type != 'attachment'}" dir="rtl" class="text-base font-medium border-r-black">
                            <span class="text-[#0000FF]  border border-[#0000FF] p-1" *ngIf="node.data.linkedClassText">{{node.data.linkedClassText}}</span>&nbsp;

                            <span class="text-[#FE1A17] border-[#FE1A17]  border p-1 ml-1" *ngFor="let subClass of node.data.subClassEntityArray">
                              {{subClass.entityInfo[0].entityText}}   <mat-icon (click)="deleteSubProp(node.data, subClass)" class="icon-sm text-[#d33b43]  " svgIcon="mat:close"></mat-icon>
                            </span> &nbsp; {{node.data.treeText}}
                        </p>
                        <div class="flex gap-2 px-2" *ngIf="node.data.type != 'root'">
                            <button (click)="saveNodedetailsValuse(node.data, $event)" matTooltip="Save Value" class=""><mat-icon class="icon-base text-[#D27F37]" svgIcon="mat:description"></mat-icon></button>
                            <button (click)="addFrameModificationProperty(node.data)" [ngClass]="{'text-white':node.data.type != 'root' && node.data.type != 'attachment'}" *ngIf="node.data.type != 'attachment' && activeTap == 'frame'" matTooltip="Add Modification Property" class=""><mat-icon class="icon-base " svgIcon="mat:add"></mat-icon></button>
                            <button (click)="addFrameAttachProperty(node.data)" [ngClass]="{'text-white':node.data.type != 'root' && node.data.type != 'attachment'}" *ngIf="node.data.type != 'attachment'" matTooltip="Add Attachment Property" class=""><mat-icon class="icon-sm" svgIcon="mat:add_circle_outline"></mat-icon></button>
                            <button (click)="addSubProperties(node.data)" *ngIf="node.data.type == 'attachment' && activeTap == 'frame'" matTooltip="Add Sub Properties" class=""><mat-icon class="icon-sm" svgIcon="mat:device_hub"></mat-icon></button>
                            <button (click)="removeLink(node.data)" *ngIf="node.data.type == 'attachment' && node.data.linkedClassText && activeTap == 'frame'" matTooltip="Remove Linked Class" class=""><mat-icon class="icon-base text-red-600" svgIcon="mat:link"></mat-icon></button>
                            <button (click)="linkClass(node.data)" *ngIf="node.data.type == 'attachment' && !node.data.linkedClassText && activeTap == 'frame'" matTooltip="Link Class" class=""><mat-icon class="icon-base " svgIcon="mat:link"></mat-icon></button>
                            <button (click)="linkFrameList(node.data)" *ngIf="node.data.type == 'attachment' &&  activeTap != 'frame' && node.data.linkedFramesEntity.length > 0" matTooltip="Attach with Frame" class="text-red-600 flex items-center"><mat-icon class="icon-base text-red-600" svgIcon="mat:attach_file"></mat-icon>Attached Frames</button>
                            <button (click)="linkFrameEntity(node.data)" *ngIf="node.data.type == 'attachment' &&  activeTap != 'frame'" matTooltip="Link Class" class=""><mat-icon class="icon-base " svgIcon="mat:link"></mat-icon></button>
                            <button *ngIf="!(node.data.parent == -1 && node.data.previous_sibling == null)" (click)="deleteFrameFactProperty(node.data)" [ngClass]="{'text-white':node.data.type != 'root' && node.data.type != 'attachment'}" class=""><mat-icon class="icon-base" svgIcon="mat:delete"></mat-icon></button>
                        </div>
                    </div>

                </ng-template>
            </tree-root>
        </div>
        <div class="bg-[#F7F7F7] px-4" *ngIf="TREE_DATA">
            <div class="flex justify-center pt-2">
                <button class="px-3 py-1 text-white font-medium bg-[#1F2F3C] rounded-sm hover:bg-[#FF9336] w-full" (click)="close()">Close</button>
            </div>
        </div>
    </div>
    <div class="w-full col-span-3 mx-2" *ngIf="SeLectedNode">
        <vex-tree-node-details [entities]="classesAndProps" [selectActiveTap]="'response'" [SeLectedNode]="SeLectedNode" [propertyId]="SeLectedNode.node_id" [projectId]="projectId" [saveNodeValueId]="saveNodeValueId" (saveNodeValue)="getNodeValueFromChild($event)"></vex-tree-node-details>
    </div>
</div>