<div class="bg-[#2F323B]">
    <div class="m-6">
        <div class="m-y pt-4">
            <a href="" class="text-yellow-700 text-2xl tracking-wider hover:text-slate-100 hover:underline "><strong>USER PROFILE</strong></a>
        </div>
        <!-- <h1 class="text-2xl text-[#E77512] pt-6">USER PROFILE</h1> -->
        <div class="bg-[#393C44] w-full  mt-8 px-4 border-b-orange-400 border-b-2 shadow-2xl pb-6">
            <div>
                <h1 class="text-lg pt-5 pb-8">Personal Information</h1>
                <div class="flex items-start gap-5">
                    <div class="">
                        <img src="../../../assets/user.png" alt="" class="w-24 h-24 p-1 rounded-full outline-dashed outline-orange-500 outline-1">
                    </div>
                    <div class="pt-5">
                        <p class="text-[#949BA2] text-sm">Upload File "JPG, GIF or PNG Max size of 800K" </p>
                        <div class="flex items-center justify-start gap-5 pt-3 ">
                            <button mat-raised-button>Upload Photo</button>
                            <p class="text-[#949BA2] text-sm">No file chosen</p>
                        </div>
                    </div>
                </div>

                <div class="flex gap-5 justify-between py-6">
                    <mat-form-field class="flex-auto">
                        <mat-label>Real Name</mat-label>
                        <input matInput Enmity="Real Name">
                    </mat-form-field>

                    <mat-form-field class="flex-auto">
                        <mat-label>Email</mat-label>
                        <input matInput Enmity="Email">
                    </mat-form-field>

                    <mat-form-field class="flex-auto">
                        <mat-label>Phone Number</mat-label>
                        <input matInput Enmity="Phone Number">
                    </mat-form-field>
                </div>
                <div class="flex gap-5 justify-between items-center ">

                    <mat-checkbox class="example-margin pb-2"></mat-checkbox>
                    <mat-form-field class="flex-auto">
                        <mat-label>Password</mat-label>
                        <input matInput Enmity="Password">
                    </mat-form-field>

                    <mat-form-field class="flex-auto">
                        <mat-label>Confirmed Password</mat-label>
                        <input matInput Enmity="Confirmed Password">
                    </mat-form-field>
                </div>
                <div class="flex justify-end gap-3">
                    <div>
                        <button mat-raised-button color="primary">Update</button>
                    </div>
                    <div>
                        <button mat-raised-button color="warn">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
