.maXHeight {
    max-height: 49rem;
}

.draggable {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: grab;
}

.ruleFontSize {
    font-size: 11px;
}

.class {
    background-color: #0D1036;
    color: white;
}

.prop {
    background-color: #39818E;
    color: white;
}

.ques_tool {
    background-color: #436886;
    color: white;
}

.e0-1 {
    background-color: #E0E0E0;
    color: black;
}

.adverb {
    background-color: #6F505F;
    color: white;
}

.individual {
    background-color: #268200;
    color: white;
}

.whiteColor {
    color: white;
}

.action {
    background-color: #FF9336;
    color: white;
}